.DS_Store
node_modules
/build
/.svelte-kit
/package
/.env
/.env.*
!.env.example
src-tauri/.env
src-tauri/.env.*
!src-tauri/.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
/src-tauri/target/
package-lock.json
coverage
